#footer {
    border-top: 1px solid #dccfec;
    text-align: right;
    line-height: 10px;
    padding-top: 10px;
    background-color: rgba(#a9a9a9, 0.5);
    bottom: 0;
}

.a1 {
    background-color: #564fa7;
}

.a2 {
    background-color: #845a6d;
}

.a3 {
    background-color: #3e1929;
}

.a4 {
    background-color: #8d91c7;
}

.a5 {
    background-color: #b0daf1;
}

.a6 {
    background-color: #74a4bc;
}

.a7 {
    background-color: #b6d6cc;
}

.a8 {
    background-color: #f1fec6;
}

.a9 {
    background-color: #ff3a20;
}

.a10 {
    background-color: #ddc4dd;
}

.a11 {
    background-color: #a997df;
}

.a12 {
    background-color: #1a3a3a;
}

.a13 {
    background-color: #dccfec;
}

.a14 {
    background-color: #1a3a3a;
}

.a15 {
    background-color: #845a6d;
}
