body {}

div.product-image {
    min-height: 100px
}

.btn {
    background-color: #a9a9a9;
    border: 1px solid #a9a9a9;
}

.btn:hover {
    background-color: #dccfec;
    border: 1px solid #dccfec;
}

h2 {
    font-family: cursive;
}
