

<footer id="footer" class="sixteen columns" data-hook>
	<div class="container">
  <div id="footer-left" class="columns alpha eight" data-hook>
    <p><%= Spree.t :powered_by  %> <%= link_to 'Solidus', 'http://solidus.io/' %></p>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook>
		<p> &#169; Dukaduka <%= Time.current.year %></p>
	</div>
  </div>
</footer>