<section class="landing parallax-background" id="home" style="background-position: 50%;">
	<div class="container">
		<div class="opacity" style=""></div>
		<div class="content">
			<div class="text">
				<h1>Duka Duka</h1>
				<h3>-best shop in town-</h3>
			</div>
		</div>
	</div>
</section>
<div class="container homepage-products">
	<h2>FEATURED ITEMS</h2>
	<hr>
	<div data-hook="homepage_products">
		<% cache(cache_key_for_products) do %>
		<%= render partial: 'spree/shared/products', locals: { products: @products } %>
		<% end %>
	</div>
</div>
<!-- <div>
  <div class="col-md-3 a1"><h2>uu-nuu</h2></div>
  <div class="col-md-3 a2"><h2>uu-nuu</h2></div>
  <div class="col-md-3 a3"><h2>uu-nuu</h2></div>
  <div class="col-md-3 a4"><h2>uu-nuu</h2></div>
  <div class="col-md-3 a5"><h2>uu-nuu</h2></div>
  <div class="col-md-3 a6"><h2>uu-nuu</h2></div>
  <div class="col-md-3 a7"><h2>uu-nuu</h2></div>
  <div class="col-md-3 a8"><h2>uu-nuu</h2></div>
  <div class="col-md-3 a9"><h2>uu-nuu</h2></div>
  <div class="col-md-3 a10"><h2>uu-nuu</h2></div>
  <div class="col-md-3 a11"><h2>uu-nuu</h2></div>
  <div class="col-md-3 a12"><h2>uu-nuu</h2></div>
  <div class="col-md-3 a13"><h2>uu-nuu</h2></div>
  <div class="col-md-3 a14"><h2>uu-nuu</h2></div>
  <div class="col-md-3 a15"><h2>uu-nuu</h2></div>
  </div> -->
<div class="parallax"></div>
<div id="contacts">
	<div class="container">
		<h2>Contact Us</h2>
		<p>email: admin@example.com</p>
		<p>call: +254 phone number</p>
	</div>
</div>
